


{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block containt %}

{% include "banner.html" %}


<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            {% for blog in blogs|slice:3 %}
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{blog.banner.url}}" alt="">
                </div>
                <div class="down-content">
                  <span>{{blog.category}}</span>
                  <a href="{% url "blog_details" blog.slug %}"><h4>{{blog.title}}</h4></a>
                  <ul class="post-info">
                    <li><a href="javascript:void(0);">{{blog.user.username}}</a></li>
                    <li><a href="javascript:void(0);">{{blog.create_date}}</a></li>
                    <li><a href="javascript:void(0);">{{blog.blog_comment.all.count}} Comments</a></li>
                  </ul>
                  <p>{{blog.description|truncatewords_html:30|safe}}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          {% if blog.tags.all.count > 0 %}
                          {% for tag in blog.tags.all %}

                          <li><a href="#">{{tag.tags}}</a>,</li>
                          {% endfor %}
                          {% else %}
                          None
                          {% endif %}
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#">Twitter</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-12">
              <div class="main-button">
                <a href="{% url "blog" %}">View All Posts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "sideber.html" %}
    </div>
  </div>
</section>



{% endblock containt %}